<!-- MODAL LOCATION TEMP -->

<div id="studentNewModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">

        <form action="/students" method="POST">
          <div class="form-group">
            <input class="form-control" name="studentName" type="text" placeholder="Student Name"></input>
          </div>
          <div class="form-group">
            <input class="form-control" name="studentClass" type="text" placeholder="Class"></input>
          </div>
          <div class="form-group">
            <input class="form-control" name="studentSash" placeholder="Sash Color"></input>
          </div>
          <div class="form-group">
            <input class="form-control" name="studentHours" placeholder="Student Hours"></input>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Add Post</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
